.nav {
  margin-bottom: 40px;
}

.nav-bbs {
  margin: 0 100px;
}

.table,
.form-input-box,
.detail-card {
  width: 98%;
  margin: 0 auto;
}

td:nth-child(1) {
  width: 20%;
}

td:nth-child(2) {
  width: 20%;
}

td:nth-child(3) {
  width: 60%;
}

h3 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.card-header {
  font-size: 1.2rem;
  padding-top: 30px;
}

.btn-warning {
  margin: 0 20px;
}
