extends ../layout

block content
    script.
        $(function() {

            $(".bbs-list").click(function() {
                document.location.href = "/bbs"
            })

            $(".bbs-write").click(function() {
                $("form").submit()
            })

        })

    section.container-fluid.m-5
        form(method="POST")
            .form-group
                input#b_title(name="b_title", placeholder="TITLE").form-control
            .form-group
                input#b_writer(name="b_writer", placeholder="WRITE").form-control
            .form-group
                input#b_text(name="b_text", placeholder="TEXT").form-control
            .form-group.text-right.p-2
                input(type="button", value="LIST").btn.btn-success.bbs-list.m-1
                input(type="button", value="SAVE").btn.btn-primary.bbs-write.m-1
            